body, html {
  background-color: rgb(236, 238, 244);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

footer {
  background-color: rgb(68, 75, 97);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h4 {
  text-transform: uppercase;
  color: #6e778e;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 16px;
}

.step-title {
  color: #6e778e;
  font-size: 20px;
  font-weight: 400;
}

.step-title::before {
  position: absolute;
  content: attr(number);
  line-height: 1em;
  height: 1em;
  width: 1em;
  border: 1px solid grey;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.header {
  box-sizing: border-box;
  height: 100px;
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%
}

.order-form-body {
  background-color: #ffffff;
  border-color: #cad1e0;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
}

.order-section {
  padding: 20px;
}

.order-info {
  padding: 20px;
  border-bottom-width: 1px;
  border-color: #cad1e0;
  border-style: solid;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  box-sizing: border-box;
}

.order-info-details {
  display: flex;
  width: 100%;
}

.order-info-heading {
  width: 100%;
  margin-bottom: 10px;
}

.tr {
  display: flex;
  flex-direction: column;
}

.td {
  color: #a5adc4;
  font-size: 14px;
  font-weight: 300;
  height: 1.5em;
}
.heading .td{
  color: #6E768F;
  text-transform: uppercase;
  font-weight: 500;
}

.heading {
  margin-right: 10px;
}

.btn {
  background: transparent;
  border: 1px solid #cad1e0;
  border-radius: 4px;
  color: #a5adc4;
  font-weight: 500;
  padding: 15px;
  text-transform: uppercase;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.grey {
  background-color: #f7f7fa;
}

.mint {
  background-color: #7cc6c4;
  border-color: #6ba9a7;
  color: #ffffff;
}

.ico {
  margin-right: 12px;
}

.order-input {
  background-color: #f7f7fa;
}

.select-type-title {
  color: #6e778e;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #cad1e0;
}

input[type=file] {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.file.btn {
  font-weight: 400;
  text-transform: none;
}

.file::before {
  display: inline-block;
  transform: scaleX(-1);
  font-family: 'Font Awesome 5 Free';
  content: '\f382';
  font-weight: 900;
  margin-right: 12px;
}

input[type=radio] {
  border: 1px solid #d7dae0;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type=radio]:checked {
  border-color: #7daadf;
  border-width: 4px;
}

input[type=radio]:checked::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  border-radius: 50%;
  background: radial-gradient(circle, #fff 29%, #fff 39%, #fff 54%, transparent 54%);
  color: #7daadf;
  top: -11px;
  right: -11px;
  transform: rotate(-10deg);
  position: absolute;
}

input:focus, button:focus, a:focus, select:focus {
  outline: none;
}

input:focus, button:focus, a:focus, select:focus, input[type=file]:focus ~ .file {
  box-shadow: 0 0 4px red;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: #eff0f5;
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e7bd7c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: #eff0f5;
  border-radius: 4px;
}

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #e7bd7c;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[name=translate-type] {
  background-image: url(../image/sprite.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-clip: content-box;
  background-color: #f7f7fa;
  width: 30%;
}

.email, .phone {
  text-decoration: none;
  color: #6e778e;
  font-size: 14px;
}

.email {
  margin-left: 20px;
}

.sm-light-grey {
  font-size: 14px;
  font-weight: 200;
  color: #a5adc4;
}
